.createItem-outside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid blueviolet; */
    justify-content: center;
    height: 80vh;

}

.createItem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 14px;
    padding: 10px;
    background-color: gray;
    box-shadow: 5px 10px 8px #a09c9c;
}


.input-box {
    margin: 10px;
    padding: 3px;
    border-radius: 8px;
    height: 30px;
    font-size: 18px;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 2px 5px 4px #554d4d;

}



/* CSS */
.createNft-btn {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.createNft-btn:disabled {
    cursor: default;
    opacity: .3;
}

.createNft-btn:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.createNft-btn:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.createNft-btn:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}


.upload-img {
    width: 100px;
}