body {
    /* background-color: darkgray; */
    background-color: rgba(22, 21, 16, 0.75);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body,
html {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}